.App {
  height: 100%;
  background-color: #1f2954;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  /* background-color: #b30080; */
background: rgb(31,41,84);
background: linear-gradient(45deg, rgba(31,41,84,1) 10%, rgba(179,0,128,1) 100%);
}

p {
  font-size: small;
}

.backButton {
  /* background-color: #b30080; */
  background: rgb(31,41,84);
background: linear-gradient(45deg, rgba(31,41,84,1) 10%, rgba(179,0,128,1) 100%);
  border: 2px solid #fff;
  border-radius: 4px;
  /* box-shadow: #fff 4px 4px 0 0, #fff 4px 4px 0 1px; */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  padding: 12px 40px;
  text-align: center;
  font-weight: bold;
}

.backButton:hover {
  background-color: #1f2954;
  color: #fff;
  box-shadow: #1f2954 4px 4px 0 0, #1f2954 4px 4px 0 1px;
  border: 2px solid #1f2954;
}

.reviewListBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.singleReviewContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.reviewContainer {
  flex: 100%;
  padding: 0px;
}

.reviewCard {
  display: grid;
  /* margin: 0 auto; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 70px 60px auto 60px;
  grid-template-areas:
    'avatar owner owner'
    'category created created'
    'title title title'
    'image image image'
    'votes . comment';
  column-gap: 5px;
  row-gap: 5px;
  width: 320px;
  height: 500px;
  border: 2px solid #fff;
  margin: 0px 0px 20px 0px;
}
.avatarContainer {
  grid-area: avatar;
  max-width: 40px;
  max-height: 40px;
  margin: 10px;
  justify-self: start;
}

.avatarImg {
  max-width: 100%;
  max-height: 100%;
}

.reviewCardOwner {
  grid-area: owner;
  justify-self: start;
  font-size: 1.2em;
}
.reviewCardCategory {
  grid-area: category;
  margin-left: 10px;
}

.reviewCardCreated {
  grid-area: created;
  justify-self: end;
}

.reviewCardTitle {
  grid-area: title;
}

.reviewCardImg {
  grid-area: image;
  max-width: 100%;
  max-height: 100%;
}

.reviewCardVotes {
  grid-area: votes;
}

#upVote {
  background-color: #b30080;
  border: 2px solid #fff;
  color: #fff;
}

#upVote:hover {
  border: 2px solid #b30080;
  color: #fff;
}

#upVote:disabled {
  background-color: #b30080;
  color: #fff;
  border: 2px solid #fff;
}

.reviewCardComment {
  grid-area: comment;
}

.commentCard {
  background-color: #b30080;
  border: 2px solid #fff;
}

.commentAvatar {
  width: 20%;
}

@media screen and (min-width: 480px) {
  .reviewListBox {
    flex-flow: row wrap;
  }
}

/* @media (min-width: 770px) */

/* @media (min-width: 1025px) */
